# Data
data/raw/
data/profiling

# Environment
.Elt-lakehouse/

# Notebooks
notebooks/
*.ipynb

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
*.swp
*.swo

# Logs
logs/

# storage
storage/

# diff
*.diff

# visua
lib/
visual